.modal-close {
  display: flex;
  justify-content: flex-end;
}

.modal-close button {
  background-color: #003D5A;
  border: none;
  padding: 0.625rem 0.875rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.40);
  letter-spacing: 0.263rem;
  font-size: 0.875rem;
  font-weight: 600;
}