@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

  @font-face {
    font-family: "SF";
    src: url("/fonts/SFProDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF";
    src: url("/fonts/SFProDisplay-Medium.woff2") format("woff2");
    font-weight: medium;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF";
    src: url("/fonts/SFProDisplay-Semibold.woff2") format("woff2");
    font-weight: semibold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF";
    src: url("/fonts/SFProDisplay-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

}
  