@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF";
    src: url("/fonts/SFProDisplay-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "SF";
    src: url("/fonts/SFProDisplay-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SF";
    src: url("/fonts/SFProDisplay-Medium.ttf") format("ttf");
    font-weight: medium;
    font-style: normal;
  }

  @font-face {
    font-family: "SF";
    src: url("/fonts/SFProDisplay-Semibold.ttf") format("ttf");
    font-weight: semibold;
    font-style: normal;
  }
}
  